export TMDB_API_KEY="asdf"
export RSYNC_DEST="myserver:/media/Movies"

# https://www.guyrutenberg.com/2014/01/14/restricting-ssh-access-to-rsync/
export RSYNC_SSH_OPTS=(-e "ssh -i /home/me/.ssh/id_remote_backup -l me")

export MKV_DEST="/store/mkvs/here"

# Chown the final file to this user
export DVDRIP_CHOWN=username
